/**** MAIN STYLE GUIDE ****/
/*inb4 I switch to bootstrap/sass lol */

body {
	color: #4F4F4F;
	background-color: #FFFFFF;
	margin: 0;
	height: 250px;
}

@font-face {
	font-family: Lucida Console;
	font-weight: normal;
	src: url('LUCON.TTF');
}

h1, h2, h3, h4, p {
  font-family: Lucida Console, monospace;
	color: #4A4A4A;

}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 12px;
	margin: 8px;
}

h5 {
  font-size: 18px;
}

header {
	color: #000000;
	height: 25px;
	padding-right: 10%;
	padding-left: 3%;
	padding-top: 2%;
}

flex-container{
	color: #000000;
	margin: 0 auto;
	width: 100%;
	height: 95%;
	display: flex;
	padding-left: 6%;
}

main {
	padding-left: 10%;
	padding-right: 5%;
	height: 250px;
}

a {
	box-shadow: 0 1.5px 0 #B8E986;
}

a:link    {
  /* Applies to all unvisited links */
	text-decoration: none;
  color:            #4A4A4A;
}

a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      normal;
  color:            #4A4A4A;
  }

a:hover {
	color: #B8E986;
}
