/**** MAIN STYLE GUIDE ****/
/*inb4 I switch to bootstrap/sass lol */

body {
	color: #4F4F4F;
	background-color: #FFFFFF;
	margin: 0;
	height: 300px;
}

@font-face {
	font-family: Lucon;
	font-weight: normal;
	src: url('LUCON.TTF');
}

h1, h2, h3, h4, h5, p {
  font-family: Lucon, monospace;
	color: #4A4A4A;

}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 20px;
	line-height: 140%;
	padding-right: 14%;
}

h4 {
  font-size: 12px;
	margin: 8px;
}

h5 {
  font-size: 14px;
	margin-top: 12px;
	margin-bottom: 0px;
}

header {
	color: #000000;
	height: 25px;
	padding-left: 12%;
	padding-top: 2%;
}

#first {
	padding-left: 10%;
}

header2 {
	height: 25px;
	padding-left: 0%;
	padding-top: 2%;
}

flex-container{
	color: #000000;
	margin: 0 auto;
	width: 100%;
	height: 95%;
	display: flex;
	padding-left: 0%;
}

div {
	padding-left: 7%;
	padding-bottom: 20%;
}

#gray {
	background-color: #F2F2F2;
}

#right_align {
	padding-left: 10%;
	padding-right: 15%;
	margin-bottom: -3.5%;
}

#division {
	padding-bottom: 10%;
}

a {
	box-shadow: 0 1.5px 0 #B8E986;
}

a:link    {
  /* Applies to all unvisited links */
	text-decoration: none;
  color:            #4A4A4A;
}

a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      normal;
  color:            #4A4A4A;
  }

a:hover {
	color: #B8E986;
}

b {
	display: none;
}

/***Read More***/
 .read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  font-size: 0;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: 58px;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
	font-family: Lucida Console, monospace;
	color: #4A4A4A;
	font-size: 20px;
	box-shadow: 0 1.5px 0 #B8E986;
	margin-left: 4%;
	margin-top: 0;
}
